<!DOCTYPE html>
<html>
	<head>
		<title>Quiz</title>
		<meta charset="uft-8"/>
		<link rel="stylesheet" type="text/css" href="/stylsheets/style.css"/>
	</head>
	<body>
		<h2>Quiz: El juego de las preguntas</h2>
		<p><%= respuesta %></p>
		<a href="/quizes/question">Intentelo otra vez</a>
	</body>
</html>